{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" {{ onclick_attrib }}/>
<p class="deletelink-box"><a href="delete/" class="deletelink">Delete</a></p>
{% if opts.model_name == "submission" %}
<p class="mycustom-box"><a href="process-submission/" class="mybutton">Process</a></p>
<p class="mycustom-box"><a href="remove-submission/" class="mybutton">Unprocess</a></p>
{% endif %}
<!-- <input type="submit" value="Save as new" name="_saveasnew" {{ onclick_attrib }}/> -->
<input type="submit" value="Save and continue editing" class="default" name="_continue" {{ onclick_attrib }}/>
</div>

{% endblock %}