{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block js %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 

<script>
     
    $(document).ready(function() {
        
        setFieldAttributes();
        
        //$("#id_posting_duration").attr("disabled", true); 
        $("#id_url").attr("placeholder", "www.yourcompany.com"); 

        $('form').h5Validate({
                errorClass:'error-select'
        });
        
     });
     
    function setFieldAttributes() 
    {
        $("#id_ccNumber").attr("pattern", "^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$") 
        
        $('#id_ccNumber').attr("required", "true");
        $('#id_first_name').attr("required", "true");
        $('#id_last_name').attr("required", "true");
        $('#id_email').attr("required", "true");
        $('#id_phone').attr("required", "true");
        $('#id_city').attr("required", "true");
        $('#id_province').attr("required", "true");
        $('#id_postal_code').attr("required", "true");
        $('#id_address1').attr("required", "true");
        
        $('#id_company_name').attr("required", "true");
        $('#id_title').attr("required", "true");
        $('#id_country').attr("required", "true");
        //$('#id_employment_type').attr("required", "true");
        //$('#id_contract_type').attr("required", "true");
        //$('#id_position_type').attr("required", "true");
        //$('#id_posting_duration').attr("required", "true");
        
        $('#id_ccType').attr("required", "true");
        $('#id_ccNumber').attr("required", "true");
        $('#id_ccExpiry').attr("required", "true");
        $('#id_ccHolderName').attr("required", "true");
        $('#id_ccSecurity').attr("required", "true");
        
    }
     
</script>

{% endblock %}

{% block title %} {% trans "Job Submission Form" %}  {% endblock %}

 {% block errorlist %}
        {% if positionform.errors or contacform.errors %} 
            <div class="errorlist" >
                Please correct the error(s) below.
                
                {% for error in positionform.errors %}
                {{error}}
                {% endfor %}
                
                {% for error in contactform.errors %}
                {{error}}
                {% endfor %}
            </div>
        {% endif %}
  
{% endblock %}
            
            

{% block content %}

<form id="submissionForm" name="submissionForm" method="post">


<fieldset>
    <legend>{% trans "Contact Person - Person /Agency filling the form" %}</legend>


<div class="row">

<div class="twelve large-12 columns">
    <p>
    {{contactform.company_name.errors}}
    <label>{{contactform.company_name.label}}</label>
     {{contactform.company_name}} 
    </p>
</div>

</div>

<div class="row">
<div class="six large-6 columns">
    <p>
    {{contactform.first_name.errors}}
    <label><span class="star">*</span> {{contactform.first_name.label}}</label>
     {{contactform.first_name}} 
    </p>
</div>

<div class="six large-6 columns">
    <p>
    {{contactform.last_name.errors}}
    <label><span class="star">*</span> {{contactform.last_name.label}}</label>
     {{contactform.last_name}} 
     </p>
</div>
</div>

<div class="row">
<div class="six large-6 columns">
    <p>
    {{contactform.phone.errors}}
    <label><span class="star">*</span> {{contactform.phone.label}}</label>
     {{contactform.phone}} 
     </p>
</div>

<div class="six large-6 columns">
    <p>
    {{contactform.email.errors}}
    <label><span class="star">*</span> {{contactform.email.label}}</label>
     {{contactform.email}} 
     </p>
</div>
</div>

<div class="row">
<div class="six large-6 columns">
    <p>
    {{contactform.address1.errors}}
    <label><span class="star">*</span> {{contactform.address1.label}}</label>
     {{contactform.address1}} 
    </p>
</div>

<div class="six large-6 columns">
    <p>
    {{contactform.address2.errors}}
    <label>{{contactform.address2.label}}</label>
     {{contactform.address2}} 
    </p>
</div>
</div>

<div class="row">
<div class="six large-6 columns">
    <p>
    {{contactform.city.errors}}
    <label><span class="star">*</span> {{contactform.city.label}}</label>
     {{contactform.city}} 
    </p>
</div>

<div class="six large-6 columns">
    <p>
    {{contactform.province.errors}}
    <label><span class="star">*</span> {{contactform.province.label}}</label>
     {{contactform.province}} 
    </p>
</div>
</div>

<div class="row">
<div class="six large-6 columns">
    <p>
    {{contactform.country.errors}}
    <label><span class="star">*</span> {{contactform.country.label}}</label>
     {{contactform.country}} 
    </p>
</div>
<div class="six large-6 columns">
    <p>
    {{contactform.postal_code.errors}}
    <label><span class="star">*</span> {{contactform.postal_code.label}}</label>
     {{contactform.postal_code}} 
    </p>
</div>

</div>

<div class="row">
    <div class="twelve large-12 columns">
    <p>
        {{positionform.postal_code.errors}}
        <label>
        {{positionform.show_contact}}
        {{positionform.show_contact.label}}
        </label>
    </p>
        
    </div>
</div>

</fieldset>

<fieldset>
    <legend>{% trans "Position Information" %}</legend>


<div class="row">
<div class="eight large-8 columns">
     <p>
    {{positionform.company_name.errors}}
    <label><span class="star">*</span> {{positionform.company_name.label}}</label>
     {{positionform.company_name}} 
    </p>
</div>
<div class="four large-4 columns">
     <p>
    {{positionform.division.errors}}
    <label>{{positionform.division.label}}</label>
     {{positionform.division}} 
    </p>
</div>
</div>

<div class="row"</div>
<div class="four large-4 columns">
     <p>
    {{positionform.city.errors}}
    <label><span class="star">*</span> {{positionform.city.label}}</label>
     {{positionform.city}} 
    </p>
</div>
<div class="four large-4 columns">
     <p>
    {{positionform.province.errors}}
    <label><span class="star">*</span> {{positionform.province.label}}</label>
     {{positionform.province}} 
    </p>
</div>

<div class="four large-4 columns">
     <p>
    {{positionform.country.errors}}
    <label><span class="star">*</span> {{positionform.country.label}}</label>
     {{positionform.country}} 
    </p>
</div>
</div>

<div class="row">
<div class="eight large-8 columns">
    <p>
    {{positionform.title.errors}}
    <label><span class="star">*</span> {{positionform.title.label}}</label>
     {{positionform.title}} 
    </p>
</div>
<div class="four large-4 columns">
    <p>
    {{positionform.reference_num.errors}}
    <label>{{positionform.reference_num.label}}</label>
     {{positionform.reference_num}} 
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
    {{positionform.url.errors}}
    <label>{{positionform.url.label}}</label>
     {{positionform.url}} 
    </p>
</div>
</div>


<div class="row">
<div class="two large-2 columns">
    <p>
    {{positionform.salary_min.errors}}
    <label> {{positionform.salary_min.label}}</label>
     {{positionform.salary_min}} 
    </p>
</div>

<div class="two large-2 columns">
    <p>
    {{positionform.salary_max.errors}}
    <label>{{positionform.salary_max.label}}</label>
     {{positionform.salary_max}} 
    </p>
</div>

<div class="five large-5 columns">
    <p>
    {{positionform.salary_details.errors}}
    <label>{{positionform.salary_details.label}}</label>
     {{positionform.salary_details}} 
    </p>
</div>

<div class="three large-3 columns">
    <p>
      <br />
    {{positionform.salary_negotiable.errors}}
    <label>{{positionform.salary_negotiable.label}}</label>
     {{positionform.salary_negotiable}} 
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.employment_type.errors}}
    <label> {{positionform.employment_type.label}} </label>
    {{positionform.employment_type}}
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.contract_type.errors}}
    <label>{{positionform.contract_type.label}} </label>
    {{positionform.contract_type}}
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.position_type.errors}}
    <label>{{positionform.position_type.label}} </label>
    {{positionform.position_type}}
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.job_summary.errors}}
    <label> {{positionform.job_summary.label}} </label>
    {{positionform.job_summary}}
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.roles_responsibilities.errors}}
    <label> {{positionform.roles_responsibilities.label}} </label>
    {{positionform.roles_responsibilities}}
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.skills_competencies.errors}}
    <label> {{positionform.skills_competencies.label}} </label>
    {{positionform.skills_competencies}}
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.education_experience.errors}}
    <label> {{positionform.education_experience.label}} </label>
    {{positionform.education_experience}}
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.other.errors}}
    <label> {{positionform.other.label}} </label>
    {{positionform.other}}
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.start_date.errors}}
    <label> {{positionform.start_date.label}} </label>
    {{positionform.start_date}}
    </p>
</div>
</div>

<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.deadline_date.errors}}
    <label> {{positionform.deadline_date.label}} </label>
    {{positionform.deadline_date}}
    </p>
</div>
</div>


<div class="row">
<div class="twelve large-12 columns">
    <p>
     {{positionform.posting_duration.errors}}
    <label> {{positionform.posting_duration.label}} </label>
    {{positionform.posting_duration}}
    </p>
</div>
</div>
 

    {% csrf_token %}
</fieldset>


{% csrf_token %}

<input class="small button" type="submit" value="{% trans 'Submit' %}" />
</form> 
 
{% endblock content %}


{% block jsbottom %}

    <script src="{% static 'jb/js/h5validate.js' %}"></script>

{% endblock %}
