{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {% trans 'Thank you' %} {% endblock %}

{% block content %}

{% if edit %}

<p>{% trans "Your changes have been accepted. Please remember that after 30 days of initial date of submission, you will not be able to make any changes to your posting." %}</p>

{% else %}

{% get_current_language as LANGUAGE_CODE %}

    <p>
	{% trans "Thank you for your submission.  An e-mail has been sent to you confirming that your job posting has been submitted successfully.  Once the payment has been processed, usually within 2-3 business days, your posting will appear in the Job Bank. To edit your posting, please follow" %} <a href="{% url 'jb:edit_submission' LANGUAGE_CODE job.uuid %}">{% trans "this link" %}</a>.
	</p>
	<p>{% trans "If you should have any questions or are seeking any additional information, please contact Linda Kollesh at" %} <nobr>613-730-4192, Ext. 233</nobr> {% trans "or by email at" %} <a href="mailto:lkollesh@sogc.com">lkollesh@sogc.com</a>.</p>
	
{% endif %}

{% endblock %}
