{% extends "base-detail.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

{% if closed %}

	The job posting is now closed. 

{% else %}


<h1>{{job.title}}</h1>


	<div class="jobdetail">
		<dl>
			{% if job.reference_num %}
			<dt>{% trans "Reference Number" %}:</dt>
			<dd>{{ job.reference_num }}</dd>
			{% endif %}

			<h3>{% trans "Company Info" %}</h3>
			<dd>{{ job.company_name }} {% if job.division %}, {{ job.division }} {% endif %}<br/>
			{{ job.city }}, {{ job.province }}<br/>{{ job.country }}
			<br /><br />
			{% if job.url %}
			 {{job.url}}
			{% endif %}
			</dd>
			
			{% if job.salary_min or job.salary_max %}
			<dt>{% trans "Salary Range" %}</dt>
			<dd>{{job.salary_min}} - {{ job.salary_max }} {% if job.salary_negotiable == true %}(Negotiable){% endif %}</dd>
			{% endif %}
			
			{% if job.salary_details %}
			<dt>{% trans "Salary Details" %}</dt>
			<dd>{{job.salary_details}}</dd>
			{% endif %}
		
		</dl>
		
		
		{% if job.job_summary %}
		<h3 style="margin-top: 10px">{% trans "Job Summary" %}</h3>
		{{ job.job_summary|safe }}
		{% endif %}
		
		{% if job.roles_responsibilities %}
		<h3 style="margin-top: 10px">{% trans "Roles and Responsibilities" %}</h3> 
		<p>{{ job.roles_responsibilities }}</p>
		{% endif %}
		
		{% if job.skills_competencies %}
		<h3 style="margin-top: 10px">{% trans "Skills and Competencies" %}</h3>
		<p>{{ job.skills_competencies }}</p>
		{% endif %}
		
		{% if job.education_experience %}
		<h3 style="margin-top: 10px">{% trans "Education and Experience" %}</h3> 
		<p>{{ job.education_experience }}</p>
		{% endif %}
		
		{% if job.other %}
		<h3 style="margin-top: 10px">{% trans "Other" %}</h3>
		<p>{{ job.other }}</p>
		{% endif %}
		
		
		{% if job.contact.show_contact or job.url %}
			<h3 style="margin-top: 10px">{% trans "Contact Information" %}</h3>
			<p>{% trans "For all inquiries/submissions:" %}</p>
			{% if job.show_contact %}
				<p> {{ job.contact.first_name }} {{ job.contact.last_name }}  <br/>
				{{ job.contact.phone }}<br/>
				<a href="mailto:{{ job.contact.email }}">{{ job.contact.email }}</a></p>
			<p></p>
			{% endif %}
			{% if job.url %}
				<p>{% trans "Webpage" %}: <a href="{{job.url}}" target="_blank">{{ job.url }}</a></p>
			{% endif %}
		{% endif %}

	</div>

{% endif %}

{% endblock %}


{% block sidebar %}

 <div class="sidebar">
                      	
    <h3>{% trans "Posting Date" %}:</h3>
	<dd style="font-size: 12px;">{{ job.date_created|date }}</dd>

	{% if job.employment_type or job.contract_type or job.position_type %}
  	<h3>{% trans "Employment Type" %}:</h2>
  	<dd style="font-size: 12px;"> {% if job.employment_type %} {{ job.employment_type }}, {% endif %} {% if job.contract_type %} {{ job.contract_type }}, {% endif %} {{ job.position_type }} </dd>
 		{% endif %}
 		
 	{% if job.start_date %}
 		<h3>{% trans "Start Date of Employment" %}:</h2>
 		<dd style="font-size: 12px;">{{ job.start_date|date }}</dd>
 		
 	{% endif %}
 	
 	{% if job.deadline_date %}
 		<h3> {% trans "Deadline Date of Application" %}:</h2>
 		<dd style="font-size: 12px;">{{ job.deadline_date|date }}</dd>
 		
 	{% endif %}
 		

{% endblock %}
