{% extends "base2.html" %}
{% load staticfiles %}
{% load i18n %}


{% block css %} 

<style>

.joblink {
	color:#e99040;
}

</style>

{% endblock %}

{% block title %} {% trans "Job Bank" %} {% endblock %}


{% block content %}


<br /> 
{% for job in jobs %}


<div class="row"> 

{% if LANGUAGE_CODE == "fr" %}
	<h2><a href="/jb/job-detail/fr/{{job.slug}}"  class="joblink"> {{ job.title }} </a></h2> 
{% else %}
	<h2><a href="/jb/job-detail/en/{{job.slug}}"  class="joblink"> {{ job.title }} </a></h2> 
{% endif %}
  <br />

 {% if job.employment_type or job.contract_type or job.position_type %}
  <dt>{% trans "Employment Type" %}</dt>
  <dd> {% if job.employment_type %} {{ job.employment_type }}, {% endif %} {% if job.contract_type %} {{ job.contract_type }}, {% endif %} {{ job.position_type }} </dd>
 {% endif %}
 
     <dt>{% trans "Employer" %}</dt>
     <dd> {{ job.company_name }} <br /> {{ job.city }}, {{ job.province }} <br /> {{job.country}} </dd>

</div>
 
 <hr />
<br />
 
{% endfor %}

{% endblock %}

{% get_current_language as LANGUAGE_CODE %}

{% block sidebar %}

 <div class="sidebar">
                      	
      <h2 class="title">{% trans "Submit a Job Posting" %}</h2><h3>{% trans "To Post a Job" %}</h3>
						<ol>
						<li>{% trans "Review our pricing plan below." %}</li>
						<li>{% trans "Complete the" %}
						{% if LANGUAGE_CODE == "fr" %}
						<a href="http://jobs.sogc.org/jb/submission-form/fr">
						{% else %}
						<a href="http://jobs.sogc.org/jb/submission-form/en">
						{% endif %}
						{% trans "job posting form" %}</a> {% trans "online." %}</li>
						</ol>
						<p><strong>{% trans "Pricing Plan" %}</strong></p>
						<ul>
						<li>{% trans "30 day post – $300, Each additional month – $200 + applicable taxes" %}</li>
						<li>{% trans "This fee applies for full-time, part time and locum job opportunities." %}</li>
						</ul>
						<p>{% trans "If you should have any questions or are seeking additional information, please contact" %} <a href="mailto:info@sogc.com">info@sogc.com</a>.</p>

{% endblock %}
