<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

<html>
<head>


<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'jb/css/foundation.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'jb/css/mystyle.css' %}" />

{% block css %} {% endblock %}
{% block js %} {% endblock %}

  <title>SOGC Job Bank</title>
  
</head>
<body>

{% get_current_language as LANGUAGE_CODE %}
    
    <header id="header">
			<div id="bannercontainer"> 
			{% if LANGUAGE_CODE == 'fr' %}
			<img id="topbanner" alt="Top Banner French" src="{% static 'jb/images/topbanner-fr.jpg' %}" />
			{% else %}
			<img id="topbanner" alt="Top Banner English" src="{% static 'jb/images/topbanner.jpg' %}" />
			{% endif %}
			</div>
			<div class="row">
			    <div class="three large-3 columns">&nbsp;</div>
				<div class="seven large-7 columns">
					<h3>{% block title %} {% endblock %} </h3>		
				</div>
				<div class="two large-2 columns">&nbsp;</div>
			</div>
		</header>
		


    <div class="row">
         <div class="three large-3 columns">&nbsp;</div>

        <div class="seven large-7 columns">

            {% block errorlist %} {% endblock %}
            
            {% block content %} {% endblock %}
        
        </div> <!-- end of large-7 -->

    <div class="two large-2 columns">&nbsp;</div>

    </div>
    
    {% block jsbottom %} {% endblock %}

</body>
</html>

