<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns#">
<head profile="http://gmpg.org/xfn/11">
	<meta name="google-site-verification" content="DjUDHocIMHWrpPNFsNxz3Li49yX_5gfpzMgI-Ezla8E" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <title>Job Bank | SOGC</title>

<link rel="stylesheet" href="http://sogc.org/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector.css?v=2.9.3" type="text/css" media="all" />
     
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
     
	<link rel="stylesheet" type="text/css" href="http://sogc.org/wp-content/themes/sogc/css/sogc.css">
	<script type="text/javascript" src="http://sogc.org/wp-content/themes/sogc/scripts/superfish.js"></script>
	<link rel="stylesheet" media="screen" href="http://sogc.org/wp-content/themes/sogc/css/superfish.css" /> 
	<link rel="stylesheet" media="screen" href="http://sogc.org/wp-content/themes/sogc/css/superfish_vertical.css" /> 
    <link rel="stylesheet" type="text/css" href="http://sogc.org/wp-content/themes/sogc/style.css" />
	 
     
    <link rel="alternate" type="application/rss+xml" href="http://sogc.org/feed/" title="Society of Obstetricians and Gynaecologists of Canada latest posts" />
    <link rel="alternate" type="application/rss+xml" href="http://sogc.org/comments/feed/" title="Society of Obstetricians and Gynaecologists of Canada latest comments" />
    <link rel="pingback" href="http://sogc.org/xmlrpc.php" /> 
    
    {% block css %} {% endblock %}
	{% block js %} {% endblock %}


	<script>  
    $(document).ready(function() { 
        $('ul.sf-menu').superfish(); 
    }); 
</script>		
<style type="text/css">
	h2 {
		font-size: 14px;	
	}
	.sf-menu li:first-child a {
		border-top: none;
	}
	div.entry-content input#s {
		width: 350px;
	}
	#sidebar-index #sidebar ul:nth-child(1) {
		padding: 0px;
		margin-left: 10px;
	}
	#sidebar-index #sidebar ul:nth-child(1) li {
		list-style: none;
	}
	#sidebar-index #sidebar ul:nth-child(2) {
		margin-left: 0px;
	}
	
	#socialbuttons {
		margin-left:11px; /* 11px for 4 buttons */
	}
	.socialbtn {
		width:25px;
		margin-right:3px;
	} 
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
var pluginUrl = 
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-127830-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>  

   
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tr valign="top">
    <td rowspan="2">&nbsp;</td>
    <td bgcolor="#CCCCCC" rowspan="2" width="1"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="1" height="1" border="0"></td>
    <td rowspan="2" width="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="3" height="1" border="0"></td>
    <td height="99%" width="772" style="background:#E5F2D8 url('{% static 'jb/images/bg-repeat.gif' %}')" id="sidebar-true"><table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="772">
		<tr>
			<td>
				<img src="http://sogc.org/wp-content/themes/sogc/images/headers/homepage1_e.jpg" alt="The Society of Obstetricians and Gynaecologists of Canada (SOGC)" width="772" height="175" border="0"><br>
		</tr>
		</table>
      <table border="0" cellpadding="0" cellspacing="0" width="772">
        <tr valign="top">
          <td width="150" style="margin-top: 0px; padding-top: 0px"><form role="search" method="get" id="searchform" action="http://sogc.org/" style="margin-top: 0px; padding-top: 3px; margin-bottom: 0px; padding-bottom: 0px;">
    <div style="padding-top: 0px; height: 22px; margin-bottom: 0px; padding-bottom: 0px;">
    	<label class="screen-reader-text" for="s">Search for:</label>
        <input type="text" value="" name="s" id="s" />
        <input type="submit" id="searchsubmit" value="Search" />
    </div>
</form>
 
<div class="menu-sidenav-container"><ul id="menu-sidenav" class="sf-menu sf-vertical"><li id="menu-item-145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-145"><a href="http://sogc.org/about-sogc/" >About SOGC</a>
<ul class="sub-menu">
	<li id="menu-item-364" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364"><a href="http://sogc.org/about-sogc/governance/" >Governance</a></li>
	<li id="menu-item-367" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-367"><a href="http://sogc.org/about-sogc/committees/" >Committees</a></li>
	<li id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a href="http://sogc.org/awards-bursaries-and-grants/" >Awards, Bursaries and Grants</a></li>
</ul>
</li>
<li id="menu-item-374" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-374"><a href="http://sogc.org/membership/" >Membership</a>
<ul class="sub-menu">
	<li id="menu-item-375" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-375"><a href="http://sogc.org/membership/becoming-a-member/" >Become a Member</a></li>
	<li id="menu-item-377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-377"><a href="http://sogc.org/membership/junior-members/" >Residents</a></li>
	<li id="menu-item-386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-386"><a href="http://sogc.org/membership/medical-students/" >Medical Students</a></li>
</ul>
</li>
<li id="menu-item-393" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393"><a href="http://sogc.org/clinical-practice-guidelines/" >Clinical Practice Guidelines</a></li>
<li id="menu-item-397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-397"><a href="http://sogc.org/continuing-medical-education-cme/" >Continuing Medical Education (CME)</a>
<ul class="sub-menu">
	<li id="menu-item-6596" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6596"><a href="http://sogc.org/events" >Events</a>
	<ul class="sub-menu">
		<li id="menu-item-373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373"><a href="http://sogc.org/continuing-medical-education-cme/sponsorship/" >Sponsorship</a></li>
		<li id="menu-item-25506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25506"><a href="http://sogc.org/continuing-medical-education-cme/schedule/" >Schedule</a></li>
	</ul>
</li>
	<li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406"><a href="http://sogc.org/continuing-medical-education-cme/online-courses/" >Online Courses</a></li>
	<li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-408"><a href="http://sogc.org/continuing-medical-education-cme/alarm/" >ALARM</a></li>
	<li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"><a href="http://sogc.org/continuing-medical-education-cme/more-ob/" >More OB</a></li>
	<li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"><a href="http://sogc.org/continuing-medical-education-cme/accreditation/" >Accreditation</a></li>
</ul>
</li>
<li id="menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-432"><a href="http://sogc.org/womens-health-programs/" >Women&#8217;s Health Programs</a></li>
<li id="menu-item-26817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26817"><a href="http://sogc.org/global-health/" >Global Health Program</a></li>
<li id="menu-item-412" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-412"><a href="http://sogc.org/publications-resources/" >Resources and Publications</a>
<ul class="sub-menu">
	<li id="menu-item-21229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21229"><a href="http://sogc.org/publications-resources/patient-fact-sheets/" >Patient Fact Sheets</a></li>
	<li id="menu-item-21241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21241"><a href="http://sogc.org/womens-health-information/" >Public Education Pamphlets</a></li>
	<li id="menu-item-20934" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20934"><a href="http://www.jogc.ca/currentPastIssues_e.aspx" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://www.jogc.ca/currentPastIssues_e.aspx']);">JOGC</a></li>
	<li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414"><a href="http://sogc.org/publications-resources/scientific-review/" >Scientific Review</a></li>
	<li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419"><a href="http://sogc.org/publications-resources/newsletter-sogc-news/" >SOGC News</a></li>
	<li id="menu-item-415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415"><a href="http://sogc.org/publications-resources/books/" >Books</a></li>
	<li id="menu-item-420" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-420"><a href="http://sogc.org/publications-resources/reports/" >Reports</a></li>
</ul>
</li>
<li id="menu-item-29309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29309"><a href="http://sogc.org/get-involved/" >Get Involved</a></li>
<li id="menu-item-465" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-465"><a href="http://sogc.org/job-bank/" >Job Bank</a></li>
<li id="menu-item-472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-472"><a href="http://sogc.org/media-centre/" >Media Centre</a>
<ul class="sub-menu">
	<li id="menu-item-21614" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21614"><a href="http://sogc.org/media_updates" >Media Updates</a></li>
	<li id="menu-item-475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-475"><a href="http://sogc.org/media-centre/media-kit/" >Media Kit</a></li>
	<li id="menu-item-476" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-476"><a href="http://sogc.org/media-centre/journalism-awards/" >Journalism Awards</a></li>
</ul>
</li>
<li id="menu-item-24444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24444"><a href="https://secure.sogc.org/registrations/english/publications/form.aspx" >Online Store</a></li>
<li id="menu-item-28314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28314"><a href="http://sogc.org/members/" >Member Login</a></li>
</ul></div>           


				<div id="socialbuttons">
					<a href="https://www.facebook.com/sogc.org" target="_blank"><img src="http://sogc.org/wp-content/themes/sogc/images/socialicons_facebook.png" class="socialbtn" /></a>
					<a href="https://twitter.com/SOGCorg" target="_blank"><img src="http://sogc.org/wp-content/themes/sogc/images/socialicons_twitter.png" class="socialbtn" /></a>
					<a href="https://www.youtube.com/channel/UC-bg9HReeNb_QZMl1N5xPyw"><img src="http://sogc.org/wp-content/themes/sogc/images/socialicons_youtube.png" class="socialbtn" /></a>
					<br /><br />
					<a href="https://itunes.apple.com/us/artist/society-obstetricians-gynaecologists/id898059739" target="_blank"><img src="http://sogc.org/wp-content/themes/sogc/images/socialicons_appstore.jpg" class="socialbtn" style="width:80px" /></a>
	
					<!--
										<a href="http://sogc.org/news_items/"><img src="http://sogc.org/wp-content/themes/sogc/images/socialicons_rssfeed.png" class="socialbtn" /></a>
										-->
				</div> 

</td>
          <td width="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="3" height="1" border="0"></td>
          <td width="619"><table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" height="25" width="619" id="toolbar">
<tr>
			<td width="90" id="home"><a href="http://sogc.org/">Home</a></td>
		<td width="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="3" height="1" border="0"></td>
		<td width="120" id="contact"><a href="http://sogc.org/contact-us/">Contact Us</a></td>
		<td width="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="3" height="1" border="0"></td>
		<td width="90" id="links"><a href="http://sogc.org/links/">Links</a></td>
		<td width="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="3" height="1" border="0"></td>
		<td width="90" id="searchpage"><a href="http://sogc.org/search-sogc/">Search</a></td>
		<td width="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="3" height="1" border="0"></td>
		<td width="120" id="signin"><a href="http://sogc.org/members/">Members</a></td>
		<td width="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="3" height="1" border="0"></td>
		<td id="language">
		{% if LANGUAGE_CODE == "fr" %}
			<a href="http://jobs.sogc.org/job-bank/en">English</a></td>
		{% else %}
			<a href="http://jobs.sogc.org/job-bank/fr">Fran&ccedil;ais</a></td>
		{% endif %}
	</tr>

</table>	
            <table border="0" cellpadding="0" cellspacing="0" width="619">
              <tr valign="middle">
                <td width="441" id="breadcrumbs"></td>
                <td width="175" style="background-color:#c7d8ac;"><table border="0" cellpadding="0" cellspacing="0" width="175">
<tr>
	<td width="10"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
	<td width="98%"></td>
</tr>
</table>
</td>
              </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="619">
              <tr valign="top">
                <td width="10"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
                <td width="100%"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="1" height="10" border="0"><br>
				<div id="print-content">
        <div class="post">
        <h1>{% block title %} {% endblock %}</h1>
        
        {% block content %} {% endblock %}
        
        </div>
</div>
</td>
                <td width="10"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
                <td width="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="3" height="1" border="0"></td>
                <td width="175" id=""> <br /> <table style="border: 1px solid #000; margin-right:10px;" cellpadding="0" cellspacing="0" width="165">
                    <tr>
                      <td colspan="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
                    </tr>
                    <tr>
                      <td width="10"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
                      <td width="155">
                      
		{% block sidebar %}
                                     
                     
		{% endblock %}

</div>
                                                                  </td>
                      <td width="10"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td colspan="7"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="1" height="7" border="0"></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    <td rowspan="2" width="3"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="3" height="1" border="0"></td>
    <td bgcolor="#CCCCCC" rowspan="2" width="1"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="1" height="1" border="0"></td>
    <td rowspan="2">&nbsp;</td>
  </tr>

  <tr valign="bottom">
    <td bgcolor="#999999" height="1%"><table border="0" cellpadding="0" cellspacing="0" width="772">

        <tr>
          <td width="153"><img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="153" height="1" border="0"></td>
          <td width="619" id="footer">The Society of Obstetricians and Gynaecologists of Canada (SOGC)<br>
780 Echo Drive &nbsp; Ottawa, ON &nbsp; K1S 5R7<br>
Tel: (800) 561-2416 or (613) 730-4192 &nbsp; | &nbsp; Fax: (613) 730-4314 &nbsp; | &nbsp; E-mail: <a href="mailto:info@sogc.com">info@sogc.com</a> <br> 
Facebook: <a href="https://www.facebook.com/sogc.org">sogc.org</a> &nbsp; | &nbsp; Twitter: <a href="https://twitter.com/SOGCorg">SOGCorg</a> <br>
<img src="http://sogc.org/wp-content/themes/sogc/images/spacer.gif" alt="" width="1" height="6" border="0"><br>
Copyright. All Rights Reserved. &nbsp; | &nbsp; Privacy Policy &nbsp; | &nbsp; <a href="/terms-of-use_e.asp">Terms of Use</a> &nbsp; | &nbsp;  <a href="http://sogc.org/accessibility">Accessibility</a>  </td>
        </tr>
      </table></td>
  </tr>
</table>
                   
{% block jsbottom %} {% endblock %}

</body>
</html>

 