/*
.required:before {
	content: "* ";
}
*/
@font-face {
    font-family: NewsCycleRegular;
    src: url('NewsCycle-Regular.ttf');
}

body, label {
	font-family: 'Open Sans', sans-serif; 
}

#topbanner {
width: 100%;
}

header {
	background-color: #8998aa;
	padding-bottom: 10px;
	margin-bottom: 40px;
}

header h3 {
	margin:0;
 padding: 0px;
 font-size: 2em;
 color: #fff;
 -webkit-text-stroke: 1px;
 font-weight: lighter;
 font-family: 'NewsCycleRegular', Fallback, sans-serif;
}

h4 {
	font-size: 1.1em;
	font-family: "open sans", Helvetica, Verdana, Arial, sans-serif;
}


.star {
	color: #EE0000;
	font-size:14px;
	font-weight:bold;
}

p  {
	margin-bottom: 5px;
	font-size: 0.9em;
} 

/* to overwrite foundation */
table tbody tr td, table tr td, table tfoot tr td {
	line-height:1.4em;
}

#additional_authors p {
	font-size: 100%;
}

.instructions li {
	font-size: 0.875em;
}

ul {
	padding-left: 30px;
}

.sublabel {
	font-size:0.825em;
	color: #003388;
}

 input[type='text'], textarea, select, input[type='email'] {
	padding: 7px 10.5px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	/*margin-top: 7px;*/
}

select {
	height: 33px;
}
            
input[type=checkbox]  {
	width: 18px;
	height: 18px;
	cursor: pointer;
	border: 1px solid #cccccc;
	margin: 0px;
	vertical-align: bottom;
	position: relative;
}

textarea {
	height: 140px;
}

.error-select {
	border-color:#c60f13 !important;
	border-width: 3px !important;
}
 
.errorlist
{
	border:solid 1px #FBD3C6;
 background:#FDE4E1;
 color: #B10009;
 width: auto;
 height: auto;
 margin: 0px;
 margin-bottom: 10px;
 font: bold 13px Arial,sans-serif;
 padding: 7px 0px 5px 5px;
 -moz-border-radius: 6px 6px 6px 6px;
	list-style-type: none;
}

.messagelist
{
	border:solid 2px #BAF2BA;
 background:#E0F3E6;
 color: #008A2E;
 width: auto;
 height: auto;
 margin: 0px;
 margin-bottom: 10px;
 font: bold 13px Arial,sans-serif;
 padding: 7px 0px 5px 5px;
 -moz-border-radius: 6px 6px 6px 6px;
	list-style-type: none;
}

.ui-state-valid {
	border-color:#000;
	border-width: 1px;
}
            
#disclosure-popup p  {
	font-size: 1em;
}

#disclosure-popup li {
	margin-left: 30px;
	font-size: 13px;
}

